@keyframes color-change {
    0% {color: red;}
    15% {color: orange;}
    30% {color: green;}
    45% {color: cyan;}
    60% {color: rgba(115,163,255,255);}
    75% {color: violet;}
    100% {color:rgba(254,30,108,255);}
}


.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(72,35,97,255);
}

.photo-caption {
    animation: color-change 10s infinite;
    font-size: 50px;
    padding: 40px;
}
